fastapi~=0.115.5
uvicorn[standard]
httpx~=0.27.2
pydantic~=2.10.1
PyPDF2~=3.0.1
boto3~=1.35.67
python-dotenv~=1.0.1
botocore~=1.35.67
numpy==1.26.4
python-multipart
aiofiles
tenacity
opencv-python
moviepy==1.0.3
html2image
pillow